.register-prime-image{
    width: 95%;
    align-self: center;
}

.products-loader-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.primedeals-list-heading{
    font-size: 24px;
    font-weight: 600;
    color: #1e293b;
}

@media screen and (max-width: 767px) {
    .primedeals-list-heading{
        font-size: 18px;
    }
}